/*
Website :   SA Academy Project
Date    :   22-1-2016
*/
/*-------------------------------------
        1. Fonts plugin here
-------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,700,500,900);
/*-------------------------------------
        2. reset css here
-------------------------------------*/
* { margin: 0; outline: none; padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; }
:before, :after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {-webkit-text-size-adjust:100%; -webkit-font-smoothing: antialiased; font-family: 'Lato', sans-serif; outline: none; font-weight: normal; font-size:16px;  color:#5f5f5f; overflow-x:hidden;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
a { text-decoration: none; transition: all 0.5s ease 0s;  -webkit-transition: all 0.5s ease 0s;  -moz-transition: all 0.5s ease 0s; -ms-transition: all 0.5s ease 0s; color:#4786c0;}
a:hover {color:#f06024;}
a:hover,a, a:active, a:focus, a:visited { outline:none;}
a:focus{ text-decoration:none; outline:none;}
li,p {font-size:18px; padding: 0; color:#484848; line-height:30px;}
p{ margin-bottom:30px;}
li{ list-style:"▪"; padding-left:15px;}
ul{ padding-left:25px;}
img{border:none; outline:none; vertical-align:top; max-width:100%; height:auto;}
.clearfix:after { clear: both; content: ''; display: block;}
.big-txt p{ font-size:27px; line-height:36px; color:#000;}
.container .container{ width:auto;}
/*-------------------------------------
        3. Typography
-------------------------------------*/
h1{ font-size:48px;}
h2{ font-size:48px; font-family: 'ufonts_com_cambria'; text-align:center; color:#000; margin-bottom:25px;}
h3{ font-size:40px;color:#000;font-family: 'ufonts_com_cambria'; margin:28px 0; }
h4{ font-size:36px; font-weight:700;}
h5{ font-size:28px;font-family: 'latomedium';}
h6{ font-size:21px;}
.medium{font-family: 'latomedium';}

/*-------------------------------------
        4. Header-area
-------------------------------------*/
.top-strip{ width:100%; padding:13px 0;
background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(left, #1e5799 0%, #ca3527 0%, #ee5e24 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #1e5799 0%,#ca3527 0%,#ee5e24 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #1e5799 0%,#ca3527 0%,#ee5e24 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#ee5e24',GradientType=1 ); /* IE6-9 */ border-bottom:solid 1px #000000;}

.top-details{ margin-bottom:0px;font-family: 'latomedium'; padding:0;}
.top-details li{ line-height:1; padding-left:0;}
.top-details li a{color: #fff;font-size: 15px; margin:0 12px; padding-bottom:3px;}
.top-details li{ display:inline-block; border-right:1px solid #af271b;}
.top-details li:last-child{ border-right:none;}
.top-details li:hover a{ border-bottom:1px solid #fff; text-decoration:none;}
.top-details li:last-child a{ font-weight:600; font-size:17px;}


.button{ padding:15px;text-align:center; color:#FFF; font-size:15px; font-family: 'Lato', sans-serif; font-weight:700; border:none; background:none; display:inline-block;}
.button:hover{ text-decoration:none;}
.primary{width:212px; height:56px; margin-top:30px;line-height:1; float:left;border:#FFF solid 2px;}
.primary img{display:inline-block; margin-right:15px;vertical-align: sub;}
.primary:hover{ background:#f06024; color:#fa0202;}
.primary2{width:212px; height:56px; margin-left: 15px; margin-top:30px;line-height:1; float:left;border:#FFF solid 2px;}
.primary2 img{display:inline-block; margin-right:15px;vertical-align: sub;}
.primary2:hover{ background:#f06024; color:#fff;}
.secondary_btn{width:230px; height:60px; background:#fff; background-repeat:no-repeat; background-position:35px center; color:#f06024; text-align:center; display:inline-block; text-transform:uppercase; font-weight:700; font-size:15px; padding-top:20px; box-shadow:2px 2px 4px #7a7b7b;}
.secondary_btn:hover{color:#fff;background:#f06024;background-repeat:no-repeat;background-position:35px center;}
.our-mission{background-image:url(../images/our-mission-icon.png); padding-left:45px !important;}
.our-mission:hover{background-image:url(../images/our-mission-icon-h.png);}
.faq-btn{background-image:url(../images/faq-btn-bg.png); background-color:#f06024; color:#fff; margin-left:35px;}
.faq-btn:hover{ background-image:url(../images/faq-btn-bg-h.png); background-color:#fff; color:#f06024;}
.register_btn{background-image:url(../images/register--btn-icon.png); padding-left:45px !important; color:#333333;}
.register_btn:hover{background-image:url(../images/register--btn-icon-h.png);}
.apply-online-btn{background-image:url(../images/apply-online-btn-icon.png); background-color:#f06024; color:#fff;padding-left:45px !important;margin-left:35px;}
.apply-online-btn:hover{ background-image:url(../images/apply-online-btn-icon-h.png); background-color:#fff; color:#f06024;}
.default{ padding:10px 40px 10px 20px; text-transform:uppercase; background:#f06024 url(../images/more-detail-arrow.png) no-repeat no-repeat 90% center;}
.default:hover{ background-color:#c93427; color:#fff;}

.home_header .menu-area{ position:absolute; left:0; width:100%; background:rgba(255,255,255,0.95); z-index:9;}
.logo{padding-top:15px; display:inline-block;}
.main-menu{margin-top:44px;}
.navbar-inverse{background-color:inherit; border-color:#fff;}
.navbar-nav > li{position:relative; padding-left:0;}
.navbar-inverse .navbar-nav>li>a {font-family: 'Lato', sans-serif; font-weight:700; font-size:15px;}
.navbar-inverse .navbar-nav>li>a{padding:0 0 40px 0; margin-left:18px;border-bottom:transparent solid 2px;}
.nav>li>a:last-child{ margin-right:0;}

.main-menu .sub-menu{background:#fff;display:none; padding:0;}
.main-menu .sub-menu li{display:block; margin:0; padding:0; border-bottom:solid 1px #e8e7e7; line-height:1;}
.main-menu .sub-menu li:last-child{ border:none;}
.main-menu .sub-menu li a{ font-size:15px; text-transform:uppercase; color:#ef5f24; font-weight:700; padding:14px; display:block;}
.main-menu .sub-menu > li:hover > a{color:#fff; background:#f06024; text-decoration:none;}
.main-menu li:hover .sub-menu{display:block;}
.main-menu li:hover .sub-menu .sub-menu{display:none; top:0;}
.main-menu li:hover .sub-menu .sub-menu li:hover a{ color:#000; background:#fff; text-decoration:none;}
.main-menu li:hover .sub-menu li:hover .sub-menu{display:block;}

@media only screen and (min-width: 767px) {
.main-menu .sub-menu li{border-bottom:solid 1px #2d2d2d;}
.main-menu .sub-menu li a{ color:#fff;}
.main-menu .sub-menu{position:absolute; top:100%; left:0;width:250px;background:#000; padding:0; z-index:9;}
.main-menu li:hover .sub-menu .sub-menu{left:100%;}
.navbar-inverse .navbar-nav>li.active > a,.navbar-inverse .navbar-nav li.current-menu-item > a, .nav>li:hover > a{ border-color:#f06024; outline:none;text-decoration:none;}
.navbar-inverse .navbar-nav>li.active > a::after, .navbar-inverse .navbar-nav>li.current-menu-item > a::after, .navbar-inverse .navbar-nav>li:hover >a::after {border-left:8px solid transparent; border-right: 8px solid transparent; border-bottom:8px solid #f06024; content: "";  left: 50%; margin-left: -8px; position: absolute; top:100%; margin-top:-8px; outline:none;}
.navbar-inverse .navbar-nav>li:hover>a::after {border-left:8px solid transparent; border-right: 8px solid transparent; border-bottom:8px solid #f06024; content: "";  left: 50%; margin-left: -8px; position: absolute; top:100%; margin-top:-8px}
}


.navbar{ margin-bottom:0;}
.navbar-inverse{ border:none;}
.navbar-toggle .icon-bar{ float:left; clear:left;}
.menu-ico-txt{float:right; margin-left:8px; color:#000000;font-family: 'latomedium'; font-size:16px;}
.navbar-toggle{ margin-right:0;}
.navbar-inverse .navbar-toggle .icon-bar{ background:#000; width:31px;}
.navbar-toggle .icon-bar + .icon-bar {margin-top: 7px;}


.banner { position:relative;}
.banner > img{ width:100%;}
.banner-caption{position:absolute; bottom:0; top:0; margin:auto; left:0; width:100%; height:30%;}
.banner-caption h1{ text-align:center; color:#fff; font-size:48px; font-weight:700;text-shadow: 0px 0px 8px rgba(100, 100, 100, 0.8);}

.home_section2{ background:url(../images/first-section-bg.png) no-repeat center center / cover}

.features{margin-top:-70px; position:relative;}
.features div[class^="box_"]{ float:left; width:25%;background:#fff; padding:25px 25px 41px 25px; color:#fff; height:290px; transition:all 0.2s linear;}
.features div[class^="box_"]:not(:first-child){ border-left:solid 1px #fff;}
.features div[class^="box_"]:not(:last-child):hover{ margin-top:-3px;}
.features div[class^="box_"] a{ color:#fff; text-decoration:none;}
.features strong{display:block; font-size:21px; text-transform:uppercase; margin:15px 0;}
.features a:hover{ color:#fff;}
.features p{ color:#fff; font-size:18px; line-height:normal;}
.features div.box_1{background:#dc3729;}
.features div.box_2{background:#e94c2b;}
.features div.box_3{background:#fd6d26;}
.features div.box_4{background:#1db7e9;}
.features div.box_1:hover{background:#e73f31;}
.features div.box_2:hover{background:#f15332;}
.features div.box_3:hover{background:#ff8245;}

.video_block{ padding:25px; border:solid 2px #e8e7e7;  background:#fff; border-radius:8px; max-width:555px; margin:auto; width:100%;}
.home_program_block .video_block{border-bottom:none; border-radius:8px 8px 0 0;}

.home_program_block{padding-top:30px;}
.home_program_block h2{ padding-bottom:20px;}
.home_program_block p{color:#444444;padding-right:3%;}
.home_program_block a{margin-top:20px; display:inline-block;font-size:27px;color: #F06024; padding-bottom: 3px; border-bottom: 2px solid #F06024;}
.home_program_block a:hover{text-decoration:none; border-bottom: none;}

.parents_section{background:#f06024; padding:40px 0 90px;}
.parents_section .block{ background:rgba(255,255,255,0.10); padding:40px;}
.parents_section h2{ color:#fff;}
.parents_section .block p{ color:#fff; font-size:24px; line-height:36px; font-style:italic;}
.parents_section .slick-slide{ padding:15px;}
.slick-dots { position:absolute; bottom:-50px; left:0; text-align:center; width:100%;}
.slick-dots li{ display:inline-block; height:25px; width:25px; font-size:0;background:rgba(255,255,255,0.10); border-radius:50%; margin:0 12px; cursor:pointer;}
.slick-dots li.slick-active,.slick-dots li:hover{background:rgba(255,255,255,1);}
.slick-dots button{ border:none; background:none;}
.logo-list { padding:0;}
.logo-list li{ display:inline-block; width:16%; padding:10px;}
.logo-list li img{ vertical-align:middle;}

.logo-listing{text-align:center; padding:40px 0 60px;}

.twitter{background:#1db7e9; padding:80px 0; color:#fff;}
.twitter p{ color:#fff;}
.twitter span{ display:block; font-size:20px;}
.twitter i{color:#FFF; font-size:220px; text-align:center;}
.twitter .border-twitter{border-right: #FFF solid 3px; text-align:right; padding-right:50px;}
.twitter_slider{ padding-left:30px;}
.slick-arrow {background:url(../images/twitter-slide-arrow.png) no-repeat center center; border:none; font-size:0; height:43px; width:43px; border-radius:50%; position:absolute; bottom:-65px;}
.slick-prev{ background-position:left top;}
.slick-next { background-position:right top; left:85px;}
.slick-prev:hover{ background-position:left bottom;}
.slick-next:hover { background-position:right bottom;}

.page_title{ background:url(../images/page-title-bg.png) no-repeat center center/ cover; padding:65px 0;}
.page_title h1{ color:#fff;}

.bread_crumbs{ background:#f4f3f3; margin-bottom:40px; padding:10px 0;}
.breadcrumb{margin-bottom:0; padding:0;}
.breadcrumb li { line-height:1; padding:0;}
.breadcrumb li:first-child a{ padding-left:0;}
.breadcrumb a::after{ content:url(../images/breadcrumb-icon.png); vertical-align:middle;padding: 0 5px;}
.breadcrumb > li + li::before{ content:url(../images/breadcrumb-icon.png); vertical-align:middle;}
.breadcrumb li a{font-size:15px; padding-left:5px;}
.breadcrumb_last{font-size:15px; padding-left:5px; color: #777;}
.breadcrumb li a:hover{text-decoration:none;}
.breadcrumb .active a{color:#484848;}
.breadcrumb li:not(.active) a{ color:#c93427}
.main-content h2{ text-align:left;}

.students { border-bottom:solid 4px #f5f5f5; padding-bottom:30px; margin-bottom:30px;}
.program-section p, .students p, .students li{font-family: 'latomedium'; font-size:19px;}
.students ul{ margin:30px 0 20px;}
.students ul:after { clear:both; display:block; height:0; visibility:hidden; content:'.';}
.students ul li{ float:left;width:49%;}

.program-tabs{ margin:50px 0 35px;}
.tab-content article{ background:#f4f3f3; padding:55px;}
.nav-tabs{ border:none;}
.nav-tabs > li { padding-left:0; margin-right:-8px; border:none;}
.nav-tabs > li > a{ font-weight:700; font-size:15px;font-family: 'Lato', sans-serif; padding:10px 25px; color:#504f4f; background:#adadad; padding-right:45px; border:none;}
.nav-tabs > li::after {border-left: 20px solid transparent;border-top: 45px solid #fff;content: "";height: 0;position: absolute;right: 0;top: 0;width: 0;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus{ background:#f4f3f3; border: none; outline:none;}
.nav-tabs > li.active > a:hover, .nav-tabs > li > a:hover{ border:none; background:#f06024; color:#fff; margin:0;outline:none;}


ul.resp-tabs-list{margin: 0px;padding: 0px;}
.resp-tabs-list li {font-weight: 600;font-size: 13px;display: inline-block;padding: 13px 15px;list-style: none;cursor: pointer;float: left; background:#adadad; line-height:1;padding-left:0; margin-right:-8px; border:none; position:relative;font-weight:700; font-size:15px;font-family: 'Lato', sans-serif; padding-left:25px; color:#504f4f; background:#adadad; padding-right:45px; border:none;}
.resp-tabs-list li:after {border-left: 20px solid transparent;border-top: 45px solid #fff;content: "";height: 0;position: absolute;right: 0;top: 0;width: 0;}
.resp-tabs-list li.resp-tab-active:hover,.resp-tabs-list li:hover{ border:none; background:#f06024;outline:none; color:#fff;}
.resp-tabs-list li.resp-tab-active{background:#f4f3f3; border: none; outline:none;color:#504f4f; }
.resp-tabs-container {padding: 0px;background-color: #fff;clear: left;}
h2.resp-accordion {cursor: pointer;padding: 5px;display: none;}
.resp-tab-content {display: none;}
.resp-tab-active {margin-bottom: -1px !important;}
.resp-tab-active {background-color: #fff;}
.resp-content-active, .resp-accordion-active {display: block;}
h2.resp-accordion {font-size:18px;margin: 0px;padding: 10px 15px;border-bottom: 1px solid #c1c1c1 !important;}
h2.resp-tab-active {margin-bottom: 0px !important;padding: 10px 15px !important;}
h2.resp-tab-title:last-child {border-bottom: 12px solid #c1c1c1 !important;background: blue;}

/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list {float: left;width: 30%;}
.resp-vtabs .resp-tabs-list li {display: block;cursor: pointer;float: none;}
.resp-vtabs .resp-tabs-container {padding: 0px;background-color: #fff;border: 1px solid #c1c1c1;float: left;width: 68%;min-height: 250px;border-radius: 4px;clear: none;}
.resp-vtabs .resp-tab-content {border: none;word-wrap: break-word;}
.resp-vtabs li.resp-tab-active { position: relative;z-index: 1;margin-right: -1px !important;padding: 14px 15px 15px 14px !important;border-top: 1px solid;border: 1px solid #5AB1D0 !important;border-left: 4px solid #5AB1D0 !important;margin-bottom: 4px !important;border-right: 1px #FFF solid !important;}
.resp-arrow {width: 0;height: 0;float: right;margin-top: 3px;border-left: 6px solid transparent;border-right: 6px solid transparent;border-top: 12px solid #c1c1c1;}
h2.resp-tab-active span.resp-arrow {border: none;border-left: 6px solid transparent;border-right: 6px solid transparent;border-bottom: 12px solid #9B9797;}
/*-----------Accordion styles-----------*/
h2.resp-tab-active {background: #DBDBDB;}
.resp-easy-accordion h2.resp-accordion {display: block;}
.resp-easy-accordion .resp-tab-content {border: 1px solid #c1c1c1;}
.resp-easy-accordion .resp-tab-content:last-child {border-bottom: 1px solid #c1c1c1;}
.resp-jfit {width: 100%;margin: 0px;}
.resp-tab-content-active {display: block;}
h2.resp-accordion:first-child {border-top: 1px solid #c1c1c1;}
/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 768px) {
ul.resp-tabs-list {display: none;}
h2.resp-accordion {display: block;}
.resp-vtabs .resp-tab-content {border: 1px solid #C1C1C1;}
.resp-vtabs .resp-tabs-container {border: none;float: none;width: 100%;min-height: 100px;clear: none;}
.resp-accordion-closed {display: none !important;}
.resp-vtabs .resp-tab-content:last-child {border-bottom: 1px solid #c1c1c1 !important;}
}

.scroll_top{position:fixed; bottom:20px; right:20px; cursor:pointer;}

.container .find-more{ margin-bottom:-15px; position:relative;}

.find-more{ background:url(../images/find-more-bg.png) no-repeat center center/ cover; padding:50px 0; text-align:center;}
.find-more h4{color:#2a2a2a; font-weight:800; padding-bottom:30px; text-transform:uppercase;}
.find-more p{font-size:21px; color:#000000; line-height:30px;}
.stage-pic{ padding:7px; background:#fff; box-shadow:0 0 12px rgba(162,161,161,0.60); width:500px; max-width:100%;
  position: absolute;
    right: 0;
    top: -200px;
    width: 44%;
}
.stage-pic img{ width:100%;}
.teachers{ border-top:solid 1px #adadad; background:#ecebeb; padding:60px 30px;}
.teachers h5{ color:#c93427;}
.teachers p{ font-size:18px; color:#484848; line-height:30px;}
.teachers .pic{padding:3px; background:#fff; box-shadow:0 0 12px rgba(162,161,161,0.60); margin-left:15px; margin-top:-50px; width:150px;}
.teachers .pic img{ width:100%;}
.information-block{ background:#d9ebf8; border-radius:5px; padding:28px 30px; margin-bottom:35px; position:relative;}
.information-block img{ margin-right:20px;}
.information-block p{ margin:0; color:#504f4f; font-size:18px; line-height:22px;}
.information-block .close{ position:absolute; top:10px; right:10px; background:rgba(255,255,255,0.50); height:25px; width:25px; font-size:16px; padding:4px 7px; border-radius:2px; color:#504f4f; opacity:1;}

.filter-block:after{ display:block; height:0; visibility:hidden; content:'.'; clear:both;}
.filter-block {background:#ecebeb; padding:20px 28px; margin-bottom:35px;}
.filter-block strong{font-size:30px; margin-right:20px;}
.filter-block form{ float:left;}
.filter-block select{ border:solid 2px #adaeae; width:265px; height:42px; color:#504f4f; font-size:18px; padding-left:15px; margin-right:20px;}
.filter-block small{ font-size:18px; color:#504f4f;display: inline-block; margin-top:5px;}

.class{ box-shadow:0 0 7px rgba(162,161,161,0.75); max-width:380px; width:100%; margin:auto; margin-bottom:40px;}
.class a:not(.default){ color:inherit;}
.class a:not(.default):hover{ color:inherit; text-decoration:none;}
.class img{ width:100%; transition:all 4s ease;}
.class figure{ overflow:hidden;}
.class figure:hover img{ transform:scale(1.1);}
.class article{ padding:28px 20px;}
.class h2{font-size:30px; font-weight:300;font-family: 'Lato', sans-serif; min-height:75px;}
.class p{font-size:17px; color:#8b8b8b; line-height:24px;font-family: 'Lato', sans-serif; font-weight:400; overflow:hidden;height: 100px}
.grade_rate{font-size:15px; font-weight:700; color:#bababa;margin: 0 0 25px;line-height: 1;display: block;}
.grade_rate img{margin-right:7px; vertical-align:middle; width:auto;}

.single h2 {
    width: 56%;
}

.single .container {
    position: relative;
}



.contact-details{border-bottom:solid 5px #f5f5f5; margin-bottom:35px; padding-bottom:35px;}
.contact-details p{font-size:15px;line-height:24px; margin-bottom:25px;}
.contact-details h2{ font-size:36px;}
.contact-details strong{font-size:22px; color:#484848;font-family: 'latomedium'; display:block; font-weight:normal; margin-bottom:15px;}
.contact-details strong img{ margin-right:8px; vertical-align:text-top;}
.contact-details a{color:#f06024;}
.contact-details a:hover{ text-decoration:underline;}
.social-share{border-top:solid 5px #f5f5f5; padding-top:25px;}
.social-share a img:hover{ opacity:0.90;}
.social-share .col-xs-6:first-child{ padding-right:0;}
.social-share a{ margin-top:5px; display:inline-block;}

.map{position:relative;}
.map address{position:absolute; left:0; top:0; right:0; bottom:0; background:#c93427; font-size:14px; color:#fff; width:350px; height:170px; margin:auto; padding:35px; line-height:21px; border-radius:5px;}
.map address:after{border-left:10px solid transparent;border-right:10px solid transparent;border-top:10px solid #c93427;content: "";height: 0;position: absolute;left:20%;top:100%;width: 0;}

.contact_map { padding-top:1px;}
.contact_map h3{ font-size:36px;}

.faq_section{ padding-bottom:20px;}
.panel-group{ margin-bottom:50px;}
.panel-default{ border:none;}
.panel-heading{padding:0; border:none; border-radius:0;}
.panel-body{background:#f4f3f3; padding:30px 40px;}
.panel-heading a{background:#8ccde8 url(../images/accordian-arrow-on.png) no-repeat 97% center; display:block;padding:15px 25px; font-weight:normal; font-size:19px; color:#323232;font-family: 'latomedium'; text-decoration:none;}
.panel-heading .collapsed{ background:#adadad url(../images/accordian-arrow.png) no-repeat 97% center;}

.site-footer{width:100%; float:left; background:#2a2a2a; padding:56px 0 20px;}
.site-footer h4{color:#FFF; font-size:16px; font-family: 'Lato', sans-serif; font-weight:700; margin-bottom:25px;}
.site-footer p{color:#888888; font-size:15px; font-family: 'Lato', sans-serif; font-weight:400; display:block; line-height:27px;}
.site-footer p a:hover{color:#f06024;}
.site-footer ul{list-style:none; padding:0;}
.site-footer ul li{display:block; border-bottom:#333 solid 1px; padding-bottom:8px; margin-bottom:8px; line-height:1; padding-left:0;}
.site-footer ul li a{font-family: 'Lato', sans-serif; font-weight:700; font-size:15px; color:#aba9a9; text-transform:uppercase;}
.site-footer ul li a:hover{color:#f06024; text-decoration:none;}
.site-footer .text-box p{margin-bottom:36px; line-height:20px;}
.site-footer span a, .site-footer .text-box p a{color:inherit;}
.site-footer span a:hover, .site-footer .text-box p a:hover{color:#f06024; text-decoration:none;}
.site-footer span{display:block; margin-bottom:17px;}
.site-footer span img{float:left; margin-right:10px;}

.site-footer .copy-right{width:100%; float:left; border-top:#373737 solid 2px; margin-top:17px;}
.site-footer .copy-right p{ font-size:14px; float:left; padding-top:29px;}
.site-footer .copy-right .social{float:right; margin-top:16px;}
.site-footer .copy-right .social i{font-size:50px; margin-right:22px; color:#848484;}
.site-footer .copy-right .social i:hover{color:#c4c4c4;}


/*blog css*/

.blog-area{ float:left; width:100%;}
.blog-area .center-wrap{ margin-top:0}

.blog-post{ float:left; width:100%; text-align:left; margin-bottom:71px;}
.blog-pic{ float:left; width:100%;}
.blog-post img{ vertical-align:top; width:100%; margin-bottom:26px}
.blog-area h2{ font-size:36px; line-height:40px; font-weight:400; margin-bottom:10px; clear:both}
.blog-area h2 a{ color:#000000; text-decoration:none;}
.blog-area h2:hover a{text-decoration:none; color:#f06024}
.blog-post-meta{ float:left; width:100%; margin-bottom:9px; position:relative}
.blog-post-meta span{ float:left; font-size:17px;font-family: 'ufonts_com_cambria'; line-height:18px; color:#828181; font-weight:700; padding:10px 14px 8px 20px; position:relative}
.blog-post-meta span:before{ content:""; width:2px; height:16px; background:#828181; display:block; position:absolute; left:0px; top:7px; bottom:0; margin:auto}
.blog-post-meta span:first-child{ background:none; padding-left:0}
.blog-post-meta span:first-child:before{ display:none;}
.blog-post-meta span a{ color:#828181}
.read{ font-size:19px; line-height:22px; color:#484747; text-transform:uppercase;font-family: 'Lato', sans-serif; font-weight:700; position:relative; display:inline-block}
.read:after{ content:""; height:2px; width:100%; background:#f06024; display:block; margin-top:4px; position:absolute; bottom:-10px; left:0}
.read:hover{ text-decoration:none;}
.read:hover:after{ display:none;}
.blog-sidebar { margin-top:0px;}
.blog-area h3{ font-size:32px; color:#000; position:relative; margin-bottom:15px; clear:both}
.blog-sidebar h3{ margin-top:0; border-bottom:solid 1px #f06024; padding-bottom:21px;}
.blog-details .blog-post h2{ font-size:54px; line-height:56px}

.blog-details .blog-post-meta{ border-bottom:solid 3px #f06024; margin-bottom:25px; padding-bottom:20px;}

.blog-sidebar ol,.blog-sidebar ul{ padding:0px; list-style:none; margin-bottom:50px;}
.blog-sidebar ol li,.blog-sidebar ul li{ font-size:19px; line-height:22px; color:#474747;font-family: 'Lato', sans-serif; font-weight:500; border-bottom:solid 1px #f5f4f4; padding:10px 0; list-style:none}
.blog-sidebar ol li a,.blog-sidebar ul li a{ color:#474747}
.blog-sidebar ol li a:hover,.blog-sidebar ul li a:hover{ text-decoration:none; color:#f06024}
.blog-sidebar ol.border-none li,.blog-sidebar ul.border-none li{ border:none;}
.blog-sidebar ol li em,.blog-sidebar ul li em{ color:#828181; font-size:14px; line-height:17px;font-family: 'Lato', sans-serif; font-weight:400; font-style:normal; width:100%; display:block; margin-top:2px;}
.share{ margin-top:50px;}
.share img{ width:auto; max-width:100%; border:none}
blockquote{ background:#fff; border:none; border-top:solid 3px #f4f3f3; border-bottom:solid 3px #f4f3f3; padding:32px 48px; margin:50px 0}
blockquote p{ font-size:24px; color:#696f82; line-height:36px; color:#676767;font-family: 'ufonts_com_cambria';}

#comment{ float:left; width:100%; margin-top:20px;}
#comment img{ vertical-align:top; width:100%; border:none}
.center-wrap {
    display: block;
    float: none;
    margin: 20px auto;
    overflow: hidden;
}
img.right{ float:right; width:auto; max-width:100%; margin:0 0px 30px 30px}
img.left{ float:right; width:auto; max-width:100%; margin:0 30px 30px 0px}
/*blog css*/






/*blog css responsive*/
@media (max-width:1280px){
.blog-area h2{ font-size:32px;}
.blog-area h3{ font-size:28px;}
.blog-sidebar ol li, .blog-sidebar ul li{ font-size:17px;}
.read{ font-size:17px;}
.blog-details .blog-post h2{ font-size:46px; line-height:54px;}
blockquote p{ font-size:21px; line-height:33px;}
}
/*blog css responsive*/

@media (max-width:1200px){
.features div[class^="box_"]{height:325px;}
.logo > img {height: 70px;}
}
@media (max-width:991px){
h2{ font-size:38px;}
h3{ font-size:34px;}
h4{ font-size:32px;}
.banner-caption h1, h1{ font-size:40px;}
.features div[class^="box_"]{ width:50%;height: 300px;margin-top: 1px;}
.logo > img {height: 48px;}
.main-menu { margin-top: 30px;}
.navbar-inverse .navbar-nav > li > a{font-size:13px; margin-left:10px; padding-bottom:25px;}
.main-menu .sub-menu li a{ font-size:14px;}
.features{ margin-top:0;}
.video_block{ margin-top:20px;}
.site-footer .copy-right .social{ margin-top:0;}
.home_program_block .big-txt{ padding:0 5%;}
.home_program_block h2{ padding:0;}
.parents_section .block p{ font-size:22px;}
.home_program_block a, .big-txt p{ font-size:20px; line-height:29px;}
.program-section p, .students p, .students li, p{ font-size:17px;}
.information-block{ padding:20px;}
.information-block p{ font-size:16px; line-height:22px;}
.stage-pic{ width:100%; margin:0 0 20px 0; position: static;}
.single h2 {width:100%;}
.teachers p{font-size:17px; line-height:28px; margin-bottom:10px;}
.find-more p{font-size:18px;}
.find-more p br{display:none;}
.find-more h4{ padding-bottom:15px;}
.class h2{ font-size:26px;}
.filter-block {padding:14px 15px;}
.filter-block strong{ font-size:26px;}
.filter-block select{ width:215px;}
.contact-details strong{ font-size:20px;}
.map address{ height:130px; width:250px; padding:20px;}
.find-more{ padding:30px 0;}
.secondary_btn{height: 50px;padding-top: 15px;}

/*blog css responsive*/
.blog-area h2{font-size: 26px;line-height: 32px;}
.blog-post-meta span{ font-size:15px;}
.blog-sidebar ol li, .blog-sidebar ul li{ font-size:15px;}
.blog-post{ margin-bottom:50px}
.read{ font-size:15px;}
.blog-details .blog-post h2{ font-size:35px; line-height:42px;}
blockquote{ margin:30px 0; padding:20px 20px}
blockquote p{ font-size:20px; line-height:31px;}
/*blog css responsive*/
}

@media (max-width:767px){
	ul li, ol li{ font-size:16px}
.contact_map h3,.contact-details h2,h2{ font-size:34px;}
h3{ font-size:30px;}
h4{ font-size:28px;}
h5{}
.tab-content article{ padding:30px;}
.banner-caption h1, h1{ font-size:36px;}
.logo{ padding:8px 0;}
.navbar-inverse .navbar-nav > li > a{padding-bottom:10px; margin-left:0;}
.navbar-inverse .navbar-toggle{ margin-top:14px; border:none; background:none;}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{background:none;}
.banner-caption h1 br{ display:none;}
.banner-caption{ height:50%;}
.button{ padding:12px;}
.default{ padding:10px 40px 10px 20px;}
.primary{ height:50px;}
.primary2{ height:50px;}
.twitter_slider{ padding-left:0;}
.twitter i{ font-size:180px;}
.twitter span{ font-size:16px;}
.slick-arrow{ height:35px; width:35px; bottom:-50px; background-size:200%;}
.slick-next{ left:45px;}
.main-menu{ background:#000; margin-top:0;}
.navbar-inverse .navbar-nav > li > a{color:#ffffff; border-bottom:solid 1px #2d2d2d; padding:10px 20px; font-size:15px;}
.main-menu .sub-menu li a{ font-size:15px; padding-left:30px;}
.home_program_block a, .big-txt p{ font-size:18px; line-height:28px;}
.teachers p, .program-section p, .students p, .students li, p{ font-size:16px; line-height:28px;}
.students ul li{ width:100%;}
.teachers{ padding:25px 20px;}
.find-more p{ font-size:17px; line-height:28px;}
.class h2{ font-size:24px; min-height:45px;}
.class p{ font-size:16px; height:80px;}
.information-block .close{ top:0; right:0; height:18px; width:18px; padding:0px 4px;}
.information-block{padding:10px;}
.information-block img{ margin-right:10px;}
.information-block p{ font-size:14px; line-height:19px;}
.filter-block strong{ width:100%; display:block; margin-bottom:10px; line-height:1;}
.contact-details strong{ font-size:18px;}
.panel-body{ padding:15px 20px;}
.panel-body p{ margin-bottom:10px;}

}



@media (max-width:639px){
.contact_map h3,.contact-details h2,h2{font-size:28px; margin-bottom:15px;}
h3{ font-size:25px; margin-bottom:20px;}
h4{ font-size:22px; margin-bottom:10px;}
.banner-caption h1, h1 {font-size: 28px;text-align: left;}
.features div[class^="box_"]{ min-height:1px; width:100%; height:auto;}
.logo-list li{width:32%;}
.banner-caption .primary .primary2{ float:right; margin-top:0;}
.primary .primary2 { height: 44px; width:200px; margin-top:20px;}
.button { padding: 10px;}
.default{ padding-right:30px;}
.tab-content article{ padding:15px;}

.twitter{ padding:20px 0 60px;}
.twitter .border-twitter{width:100%; padding:0; border:none; border-bottom:solid 3px #fff; margin-bottom:15px;}
.twitter .border-twitter{ text-align:center;}
.twitter .border-twitter + div{ width:100%;}
.parents_section{ padding:20px 0 60px;}
.parents_section .block{ padding:20px;}
.parents_section .block p{ font-size:18px; line-height: 26px;}
.slick-dots {bottom: -35px}
.slick-dots li{ height:18px; width:18px; margin:0 6px;}
.program-section p, .students p, .students li, p{ font-size:15px; line-height:26px;}
.find-more h4{ padding-bottom:0px;}
.breadcrumb li a{ font-size:14px;}
.class p{ font-size:15px; height:70px;}
.map address{ height:100px; width:200px; padding:10px; font-size:13px; line-height:18px;}
.map address br{ display:none;}
.panel-heading a{ font-size:18px;}
.faq-btn{ margin:0;}
.our-mission{ margin-bottom:10px;}
.secondary_btn {height: 45px;}
.register_btn{ margin-bottom:10px;}
.apply-online-btn{ margin:0;}

img.right{ float:none;  display:block; margin:0 auto 20px}

}


@media (max-width:439px){
.top-strip{ padding:8px 0;}
.top-details li a{ margin:0 8px;}
.logo > img {height: 40px;}
.banner-caption{ height:0;}
.banner-caption h1{ display:none;}
.logo-list li {width: 48%;}
.menu-ico-txt{ display:none;}
.teachers .pic{ margin:0 0 10px 0; width:100%;}
.site-footer div[class^="col-"]{ width:100%; margin-bottom:20px;}
.site-footer .text-box p{ margin-bottom:15px;}
.site-footer .text-box p br{ display:none;}
.site-footer .copy-right{ margin-top:0;}
.site-footer .copy-right .social{ padding-top:15px;}
.site-footer .copy-right p{ font-size:12px;padding-top:15px; line-height:14px; width:68%;}
.site-footer .copy-right .social i{font-size:36px; margin-right:15px;}
.site-footer .copy-right .social a:last-child i{ margin:0;}

.find-more p{ font-size:16px; line-height:26px;}
.contact-details strong{ font-size:17px;}

.panel-heading a{ padding:10px;}


}
#clockdiv{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

#clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: #00BF96;
    display: inline-block;
}

#clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: #00816A;
    display: inline-block;
}

.smalltext{
    padding-top: 5px;
    font-size: 16px;
}

/*-------------------------------------
        5. Catch22's Additions
-------------------------------------*/

.google-maps {
    position: relative;
    padding-bottom: 50%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    /*pointer-events: none;*/
}

.sa-table {
        margin:0px 0px 30px;padding:0px;
        border:1px solid #efeded;
        -moz-border-radius-bottomleft:0px;
        -webkit-border-bottom-left-radius:0px;
        border-bottom-left-radius:0px;

        -moz-border-radius-bottomright:0px;
        -webkit-border-bottom-right-radius:0px;
        border-bottom-right-radius:0px;

        -moz-border-radius-topright:0px;
        -webkit-border-top-right-radius:0px;
        border-top-right-radius:0px;

        -moz-border-radius-topleft:0px;
        -webkit-border-top-left-radius:0px;
        border-top-left-radius:0px;
}
.sa-table table{
    border-collapse: collapse;
        border-spacing: 0;
        width:100%;
        height:100%;
        margin:0px;padding:0px;
}
.sa-table tr:last-child td:last-child {
        -moz-border-radius-bottomright:0px;
        -webkit-border-bottom-right-radius:0px;
        border-bottom-right-radius:0px;
}
.sa-table table tr:first-child td:first-child {
        -moz-border-radius-topleft:0px;
        -webkit-border-top-left-radius:0px;
        border-top-left-radius:0px;
}
.sa-table table tr:first-child td:last-child {
        -moz-border-radius-topright:0px;
        -webkit-border-top-right-radius:0px;
        border-top-right-radius:0px;
}.sa-table tr:last-child td:first-child{
        -moz-border-radius-bottomleft:0px;
        -webkit-border-bottom-left-radius:0px;
        border-bottom-left-radius:0px;
}.sa-table tr:hover td{

}
.sa-table tr:nth-child(odd){ background-color:#f2f0ef; }
.sa-table tr:nth-child(even) { background-color:#ffffff; }
.sa-table td{
        vertical-align:middle;
        width: 25%;
        border:1px solid #efeded;
        border-width:0px 1px 1px 0px;
        text-align:left;
        padding:9px;
        font-size:14px;
        font-family:Arial;
        font-weight:normal;
        color:#474646;
}.sa-table tr:last-child td{
        border-width:0px 1px 0px 0px;
}.sa-table tr td:last-child{
        border-width:0px 0px 1px 0px;
}.sa-table tr:last-child td:last-child{
        border-width:0px 0px 0px 0px;
}
.sa-table tr:first-child td{
        background-color:#f06024;
        border:0px solid #efeded;
        text-align:left;
        border-width:0px 0px 1px 1px;
        font-size:15px;
        font-family:Helvetica;
        font-weight:bold;
        color:#FFF;
}

.sa-table tr:first-child:hover td{
        background-color:#f06024;
}

.sa-table tr:first-child td:first-child{
        border-width:0px 0px 1px 0px;
}

.sa-table tr:first-child td:last-child{
        border-width:0px 0px 1px 1px;
}
/*

.features div.box_4 p.holder {
    font-size: 24px;
    padding-top: 20px;
    text-align: center!important;
    color: #000;
    border: 1px solid #c0eafb;
    display: block;
    padding-bottom: 30px;
    background: #a5dff7;
    margin: 20px;
}


.features div.box_4 p.count-up {
    font-size: 30px;
    padding-top: 12px;
    text-align: center!important;
    color: #feca17;
    border-top:
    1px solid #78a336;
    display: block;
    padding-bottom: 15px;
    border-bottom: 1px solid #78a336;
    margin: 12px 0 0 0;
}

.features div.box_4 span {
    font-weight: bold;
    color: #feca17;
}

.features div.box_4 img{padding: 20px; padding-bottom: 30px;}
*/
.home-cta {
    padding: inherit;
    padding-bottom: 0px;
    text-align: center;
}

a.hero {
    background: #000;
}

a.hero:hover {
    background: #FFF;
    color: #000;
    border: 2px solid #000;
 }

 a.hero2 {
    background: #FFF;
    color: #000;
    border: 2px solid #000;
}

a.hero2:hover {
    background: #000;
    border: 2px solid #FFF;
    }

.home-cta p {margin: 20px}

.email-btn{
    background-color:#429DDC;
    color:#fff;
    box-shadow: none;
}

.email-btn:hover{
    background-color:#fff;
    color:#f06024;
}



/*--------------------------- custom work start----------------------------------- */
.blog-sidebar .widget-title{font-size: 36px;
  color: #000;
  position: relative;
  margin-bottom: 15px;
}

.blog-sidebar .widget-title::after {
    background: none repeat scroll 0 0 #696f82;
    content: "";
    display: block;
    height: 2px;
    margin-top: 15px;
    width: 71px;
}

.blog-sidebar ul li span {
    color: #828181;
    display: block;
    font-family: "Lato",sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    margin-top: 2px;
    width: 100%;
}
.comment-reply-title {
    border-bottom: 3px solid #737373;
    line-height: 60px;
    color: #737373 !important;
    text-align: center !important;
    font-weight: bold
}

.comment-form input{
	width: 100%;
  border: 1px solid #737373;
  padding-left: 5px;
  height: 52px;
}
.comment-form-url {
    display: none;
}
.comment-form #comment {
    margin-top: 0px !important;
    padding-left: 5px;
}
.comment-form label {
    padding-top: 24px;
}
.comment-form p {
    margin: 0px;
}
.comment-form .submit {
    margin-top: 26px;
    width: 18%;
    border-radius: 25px;
    line-height: 1;
    background: #f06024;
    border: 1px solid #f06024;
    color: #fff;
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    font-weight: 700;
    /*padding: 10px 32px;*/
    text-align: center;
    text-transform: uppercase;
}

.comment-form .submit:hover{background: #fff; color: #f06024; border: 1px solid #737373;}
.comment-meta .says{display: none;}
.comment-meta {background: none repeat scroll 0 0 rgba(0, 0, 0, 0);padding-bottom: 0px !important }
.fn {padding-left: 1%;}
.comment-metadata {padding-left: 5%;}
.comment-awaiting-moderation {color: red;}
.avatar.avatar-34.photo {margin-bottom: auto;width: 34px !important;}
.comment-meta p {margin-bottom: 0px;}

.search-form .search-submit{
	border-radius: 25px;
	width: 11%;
    line-height: 1;
    background: #f06024;
    border: 1px solid #f06024;
    color: #fff;
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    font-weight: 700;
    /*padding: 10px 32px;*/
    text-align: center;
    text-transform: uppercase;
    padding: 17px;
}

.search-form .search-field {
    height: 52px;
    padding-left: 5px;
}
.search-form .search-submit:hover{background: #fff; color: #f06024; border: 1px solid #737373;}


/*--------------------------------shiv 19-05-2016------------------------------------------------*/
#future_date{margin-top:8px; padding:0 16px; float:left; width:100%;}
.number-counter{float:left; border:#5e5e5e solid 1px; padding:11px; background:#3d3d3d; margin-right:3px; font-size:36px; color:#FFF; font-weight:700; text-align:center; width:24%;}
.number-counter .displayformat{display:block; font-family: 'Lato', sans-serif; font-weight:400; font-size:10px;}
.number-counter:last-child{margin-right:0;}
.counting{font-family: 'Lato', sans-serif; font-weight:600; color:#FFF; font-size:21px; padding-left:19px; width:100%; float:left; margin-top:35px;}
.counting:before{background:url(../images/icon1.png) no-repeat right; content:""; width:47px; height:53px; position:relative; display:block; float:right; margin-right:27px; margin-top:-19px;}


.smaca{font-family: 'Lato', sans-serif; font-weight:700; color:#FFF; font-size:28px; padding-left:19px; width:100%; float:left;}
.year{float:right; font-family: 'Lato', sans-serif; font-weight:600; color:#605f5f; font-size:30px; margin-right:32px;}
.togo{font-family: 'Lato', sans-serif; font-weight:700; color:#FFF; font-size:28px; width:100%; float:left; padding-right:16px; text-align:right;}

.rss-date{
    font-size: 15px;
    padding-top: 5px;
    margin-bottom: 0px!important;
}
