@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'latomedium';
    src: url('lato-medium-webfont.eot');
    src: url('lato-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('lato-medium-webfont.woff2') format('woff2'),
         url('lato-medium-webfont.woff') format('woff'),
         url('lato-medium-webfont.ttf') format('truetype'),
         url('lato-medium-webfont.svg#latomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ufonts_com_cambria';
    src: url('ufonts_com_cambria.eot');
    src: url('ufonts_com_cambria.eot') format('embedded-opentype'),
         url('ufonts_com_cambria.woff2') format('woff2'),
         url('ufonts_com_cambria.woff') format('woff'),
         url('ufonts_com_cambria.ttf') format('truetype'),
         url('ufonts_com_cambria.svg#ufonts_com_cambria') format('svg');
}
